body{
	background-color: #E8ECEB;
	text-align: center;
}

h1{
	color: #FFFFFF;
}

.bandeau{
	height: 45px;
	background-color: #4267B2;
	margin-bottom: 50px;
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	border-radius: 30px;
}

.btn {
  border-radius: 60px;
  font-family: Georgia;
  color: #FFFFFF;
  font-size: 21px;
  padding: 17px;
  background-color: #4267B2;
  text-decoration: none;
}

.btn:hover{
	cursor:pointer;
}

#conteneur{
	display:flex;
}

#bouton_capture{
	margin: auto;
}

